*class
.DS_Store
.project
.idea
.classpath
.pydevproject
checkstyle-5.5/
findbugs-2.0.1/
bin
tests
*.java~
*.in
*.out
*.txt
*.zip
*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.pyc
*-checkpoint.ipynb
.ipynb_checkpoints/

# Package Files #
*.jar
*.war
*.ear
